.header {
    height: 80px;
    background-color: #78c0e2;
}
.headerContainer {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    border: 1px solid black;
    height: 100%;
}
