.container {
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    width: 90%;
    min-height: 100vh;
}

.title {
    background-color: #AFAFAFFF;
}
