.mainBlock {
    min-height: 100vh;
    background-color: #cb93d7;
}
.textWrapper {
    width: 300px;
    background-color: #595757;
}
.photoWrapper {
    margin-top: 10px;
    height: 400px;
    width: 300px;
    background-color: #595757;
}

